<div class="card">
    <div class="card-header">
        <h2>Log In</h2>
    </div>
    <div class="card-body">
        <form class="login-form">
            <div>
                <label for="email-login">Email</label>
                <input type="text" id="email-login" />
            </div>
            <div>
                <label for="password-login">Password</label>
                <input type="password" id="password-login" />
            </div>
            <div>
                <button type="submit">Log In</button>
            </div>
        </form>
    </div>
    <div class="card-footer">
        Don't have an account? <a href="/signup">Sign Up</a> instead.
    </div>
</div>