<section class="card">
    <div class="card-header">
        <h2>Create New Post</h2>
    </div>

    <div class="card-body">
        <form class="new-post-form">
            <div>
                <label for="post-title">Title</label>
                <input type="text" id="post-title" name="post-title" />
            </div>
            <div>
                <label for="post-content">Contents</label>
                <textarea id="post-content" name="post-content"></textarea>
            </div>
            <button type="submit" class="btn">Create</button>
        </form>
    </div>
</section>

<script src="/javascript/add-post.js"></script>