<div class="card">
    <div class="card-header">
        <h2>Sign Up</h2>
    </div>
    <div class="card-body">
        <form class="signup-form">
            <div>
                <label for="username-signup">Username</label>
                <input type="text" id="username-signup" />
            </div>
            <div>
                <label for="email-signup">Email</label>
                <input type="text" id="email-signup" />
            </div>
            <div>
                <label for="password-signup">Password</label>
                <input type="password" id="password-signup" />
            </div>
            <div>
                <button type="submit">Sign Up!</button>
            </div>
        </form>
    </div>
    <div class="card-footer">
        Have an account? <a href="/login">Log in</a> instead.
    </div>
</div>

<script src="/javascript/signup.js"></script>